@charset "utf-8";
@import url(reset.css);
@import url(common.css);

/* 💛.main_visual💛 */
.main_visual {
    width: 100%;
    height: calc(100vh - 116px);
    background-color: #fff;
    display: flex;
    align-items: center;
}
.main_visual .inner {
    height: calc(100% - 60px);
    overflow: hidden;
}
.main_visual .inner .swiper {
    height: 100%;
}
.main_visual .inner .swiper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}
.main_visual .inner .swiper .swiper-slide span {
    width: 100%;
    height: 100%;
    display: block;
}
.main_visual .inner .swiper .swiper-slide:nth-child(1) span {
    background: url(../img/main01.jpg) center center / cover no-repeat;
}
.main_visual .inner .swiper .swiper-slide:nth-child(2) span {
    background: url(../img/main02.png) center center / cover no-repeat;
}
.main_visual .inner .swiper .swiper-slide:nth-child(3) span {
    background: url(../img/main03.png) center center / cover no-repeat;
}
.main_visual .inner .swiper .swiper-slide span::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.main_visual .inner .swiper .swiper-slide:hover span::before {
    background-color: rgba(255, 255, 255, 0.2);
}

/* 💛.big_title💛 */
.big_title {
    padding-bottom: 50px;
}
.big_title p {
    font-size: 5.2vw;
    font-weight: 900;
    letter-spacing: -2px;
}
.big_title img {
    /* width: 76px; */
    width: 3.5vw;
    /* height: 91px; */
    object-fit: cover;
    transform: rotate(-90deg);
    display: inline-block;
    /* vertical-align: middle; */
}

/* 💛.cont01💛 */
.cont01 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.cont01 .item {
    width: calc(100% / 2 - 16px);
    height: 540px;
    position: relative;
}
.cont01 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 .item h3 {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* 💛.cont02💛 */
.cont02 {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 50px;
}
.cont02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 h2 {
    font-size: 5.2vh;
    font-weight: 900;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* 💛.cont03💛 */
.cont03 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.cont03 .item {
    width: calc(100% / 2 - 16px);
    height: 540px;
    position: relative;
}
.cont03 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .item h3 {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.cont03 .item:nth-child(2) h3 {
    color: #fff;
}

/* 💛.cont04💛 */
.cont04 {
    width: 100%;
    padding-bottom: 50px;
}
.cont04 .list {
    /* width: 1514px; */
    width: 79.01%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cont04 .list a {
    width: 45.57%;
}
.cont04 .list img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.cont04 h3 {
    margin: 50px 0 0 30px;
}

/* 💛.cont05💛 */
.cont05 {
    width: 100%;
}
.cont05 .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}
.cont05 .list a {
    width: calc(100% / 3);
    height: 770px;
    border-left: 1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont05 .list a:first-child {
    border: 0;
}
.cont05 .list a:hover {
    background-color: #222;
    color: #fff;
}
.cont05 .list a p {
    font-size: 4.16vw;
    text-align: center;
}

/* tablet 사이즈 960*720 */
@media screen and (max-width:960px) {

    h3 {font-size: 20px;}

    /* 💛.main_visual💛 */
    .main_visual {
        width: 100%;
        height: calc(100vh - 48px);
    }
    .main_visual .inner {
        height: calc(100% - 40px);
    }

    /* 💛.big_title💛 */
    .big_title {
        padding-bottom: 20px;
    }

    /* 💛.cont01💛 */
    .cont01 {
        display: block;
        padding-bottom: 20px;
    }
    .cont01 .item {
        width: 100%;
        height: 56.25vw;
    }
    .cont01 .item h3 {
        left: 20px;
        bottom: 20px;
    }

    /* 💛.cont02💛 */
    .cont02 {
        margin-bottom: 20px;
    }
    .cont02 h2 {
        bottom: 20px;
        left: 20px;
    }

    /* 💛.cont03💛 */
    .cont03 {
        display: block;
        padding-bottom: 20px;
    }
    .cont03 .item {
        width: 100%;
        height: 540px;
    }
    .cont03 .item h3 {
        left: 20px;
        bottom: 20px;
    }

    /* 💛.cont04💛 */
    .cont04 {
        padding-bottom: 20px;
    }
    .cont04 .list {
        width: calc(100% - 40px);
    }
    .cont04 .list a {
        width: 48.91%;
    }
    .cont04 h3 {
        margin: 20px 0 0 20px;
    }

    /* 💛.cont05💛 */
    .cont05 .list a {
        height: 385px;
    }
}

/* mobile 사이즈 414*896 */
@media screen and (max-width:414px) {
    /* 💛.main_visual💛 */
    .main_visual {
        max-height: 848px;
        height: calc(100vh - 48px);
    }
    .main_visual .inner {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }

    /* 💛.big_title💛 */
    .big_title {
        padding-bottom: 10px;
    }
    .big_title img {
        width: 16px;
        height: 20px;
        margin-left: 5px;
    }

    /* 💛.cont01💛 */
    .cont01 {
        padding-bottom: 10px;
    }
    .cont01 .item a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .cont01 .item h3 {
        font-size: 12px;
        left: 10px;
        bottom: 10px;
    }

    /* 💛.cont02💛 */
    .cont02 {
        height: 652px;
        margin-bottom: 10px;
    }
    .cont02 h2 {
        font-size: 5.2vw;
    }

    /* 💛.cont03💛 */
    .cont03 {
        padding-bottom: 10px;
    }
    .cont03 .item a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .cont03 .item h3 {
        font-size: 12px;
        left: 10px;
        bottom: 10px;
    }

    /* 💛.cont04💛 */
    .cont04 {
        padding-bottom: 10px;
    }
    .cont04 .list {
        width: calc(100% - 20px);
        display: block;
    }
    .cont04 .list a:first-child img {
        margin-bottom: 10px;
    }
    .cont04 h3 {
        margin: 10px 0 0 10px;
        font-size: 12px;
    }

    /* 💛.cont05💛 */
    .cont05 .list {
        display: block;
        border-bottom: 0;
    }
    .cont05 .list a {
        width: 100%;
        height: auto;
        display: block;
        padding: 15px 10px;
        border-bottom: 1px solid #222;
        border-left: 0;
    }
    .cont05 .list a:first-child {
        border-bottom: 1px solid #222;
    }
    .cont05 .list a p {
        text-align: left;
    }
    .cont05 .list a br {
        display: none;
    }
}
